:root {
  --primary-color: #00aafa;
  --secondary-color: #003172;
  --third-color: #895200;
}

body {
  padding: 20px;
}

.card {
  background-color: var(--primary-color) !important;
  color: white;
}

.card-subtitle-text {
  color: var(--secondary-color);
  font-style: italic;
}

.custom-react-icons {
  color: var(--secondary-color);
  font-size: 15px;
}

.nav-title {
  font-size: 20px;
  color: var(--secondary-color);
}

.clickable {
  cursor: pointer;
}

.add-device-value {
  margin-bottom: 30px;
}

.card-title {
  font-size: 15px;
}

/*DELETE THIS CSS*/

.back-red {
  background-color: red;
}

.back-blue {
  background-color: blue;
}
